@charset "UTF-8";

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

html {
  margin: 0;
  background-color: #000011;
}

body {
  margin: 0;
  background-color: #000011;
}

main {
  background-color: #000011;
  height: 100%;
  margin: 0;
}

p {
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

section {
  padding-top: 110px;
}

#invalid {
  width: 700px;
  margin: 160px auto;
  border: solid 1px #fff;
  text-align: center;
  padding: 40px 0;
}

#invalid .caution{
  margin: 0 auto;
  margin-bottom: 16px;
}



#book-detail {
  width: 850px;
  margin-top: 30px;
  margin-bottom: 20px;  
}

#book-detail .text,
#book-detail .caution {
  margin: 0 auto; 
  margin-top: 12px;
  text-align: center;
}

#book-detail .title{
  color: #fff;
  text-align: center;
}

#book-detail .back{
  text-decoration: underline;
  display: block;
  margin-bottom: 20px;
}

#list {
  border-top: solid 1px #DDD;
  width: 850px;
  margin-top: 20px;
  margin: 0 auto;
  margin-bottom: 80px;
}

#list .field-flex {
  display: flex;
  margin: 0;
  background-color: #555;
  border-right: solid 1px #DDD;
  border-bottom: solid 1px #DDD; 
}

#list .field {
  border-left: solid 1px #DDD; 
  width: 120px;
  color: #fff;
  text-align: center;
}

#list .field:nth-child(6){
  border-right: solid 1px #DDD; 
}


#list .list-flex{
  color: #fff;
  border-left: solid 1px #DDD;
  border-right: solid 1px #DDD; 
  background-color: #555;
  display: flex;
  margin: 0;
  border-bottom: solid 1px #DDD; 
}

#list .list-flex li{
  width: 120px;
  height: 50px;
  padding-top: 25px;
  /* line-height: 60px; */
  color: #fff;
  text-align: center;
  margin: 0;
}

#book-select {
  width: 800px;
  margin: 100px auto;
}

#book-select .title,
#book-divide .title {
  color: #fff;
  text-align: center;
}

#book-select .info-field-flex,
#book-select .info-flex {
  display: flex;
  color: #fff;
  margin: 0;
  justify-content: center;
}

#book-select .info-field-flex li{
  width: 100%;
  border-left: solid 1px #fff;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  text-align: center;
}

#book-select .info-flex li{
  width: 100%;
  border-left: solid 1px #fff;
  /* border-right: solid 1px #fff; */
  text-align: center;
  height: 30px;
  line-height: 30px;
}

#book-select .info-field-flex li:nth-child(4),
#book-select .info-flex li:nth-child(4) {
  border-right: solid 1px #fff;
}

#book-select .list-flex {
  color: #fff;
  border-top: solid 1px #fff;
  background-color: #555;
  /* width: 600px; */
  margin: 0;
}

#book-select .list-flex .flex{
  display: flex;
  border-bottom: solid 1px #fff;
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
}

#book-select .list-flex li{
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 0.9rem;
}

#book-select .list-flex .date,
#book-select .list-flex .type,
#book-select .list-flex .price,
#book-select .list-flex .subtotal{
  width: 50%;
}

#book-select .list-flex .name{
  width: 120%;
}

#book-select .list-flex .room,
#book-select .list-flex .check{
  width: 40%;
}

#book-select .submit {
  background-color: #fff;
  border: 2px solid #DDD;
  font-size: 0.9rem;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

#book-divide {
  width: 700px;
  margin: 100px auto 120px;
}

#book-divide .info-flex{
  display: flex;
  color: #fff;
  border: solid 1px #DDD;
  background-color: #444;
}

#book-divide .info-flex li{
  width: 150px;
  height: 40px;
  line-height: 40px;
  /* border: solid 1px #fff; */
  text-align: center;
}

#book-divide .button-area{
  margin: 0 auto;
  margin-top: 20px;
  width: 100px;
  display: flex;
}

#book-divide .submit,
#book-divide .delete {
  margin-top: 12px;
  background-color: #fff;
  border: 2px solid #DDD;
  font-size: 0.9rem;
  display: block;
  margin: 0 auto;
}

#book-divide .delete{
  margin-left: 10px;
}

#not-set-value {
  width: 700px;
  margin: 100px auto;
  border: solid 1px #ddd;
  text-align: center;
  padding: 80px 0;
}