@charset "UTF-8";

body{
  background: #333;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

a {
  color: #fff;
}

p {
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

#login-caution {
  width: 700px;
  margin: 160px auto;
  border: solid 1px #fff;
  text-align: center;
  padding: 40px 0;
}

#login-caution .caution{
  margin: 0 auto;
  margin-bottom: 16px;
}

#login,
#menu {
  width: 700px;
  margin-top: 100px;
  border: solid 2px #BBB;
  padding: 20px 0;
  background-color: #444;
}

#login .title,
#menu .title{
  color: #fff;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

#login .bar-text{
  margin: 0;
  margin-bottom: 4px;
}

#login .bar{
  margin: 0;
  width: 180px;
}

#login .submit {
  margin-top: 30px;
  display: block;
  background-color: #fff;
  border: 2px solid #DDD;
  font-size: 1rem;
}

#login .center{
  width: 180px;
  margin: 0 auto;
}

.note-area {
  width: 700px;
  margin: 0 auto;
}

#login-check {
  width: 700px;
  margin-top: 100px;
  border: solid 1px #fff;
  text-align: center;
  padding: 20px 0;
}

#menu .center {
  width: 120px;
  margin: 0 auto;
}

#logout {
  width: 700px;
  border: solid 2px #DDD;
  margin-top: 100px;
  padding: 20px 0 30px;
}

#logout .done-text{
  margin: 0;
  margin-top: 8px;
  margin-left: 4px;
  color: #fff;
  text-align: center;
}

#logout .back {
  color: #fff;
  display: block;
  margin-top: 20px;
  margin-left: 4px;
  text-align: center;
}










