@charset "UTF-8";

body{
  background: #333;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

a {
  color: #fff;
}

p {
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

#member-info{
  width: 700px;
  margin: 80px auto 100px;
  border: solid 2px #fff;
  padding-bottom: 20px;
}

#member-info .title{
  color: #fff;
  margin: 20px auto;
}

#member-info .field{
  width: 90%;
  margin: 0 auto;
}

#member-info .field li {
margin-top: 40px;
border-bottom: 1px solid #fff;
color: #fff;
}

#member-info .back{
  display: block;
  text-align: center;
}

#leave{
  width: 700px;
  margin: 0 auto;
  border: solid 2px #fff;
  padding: 20px 0;
}

.title{
  text-align: center;
  color: #fff;
  margin-top: 100px
}

#leave .text-area {
  width: 510px;
  margin: 0 auto;
}

#leave .submit {
  background-color: #fff;
  border: 2px solid #DDD;
  font-size: 0.9rem;
  display: block;
  margin: 0 auto;
  margin-top: 12px;
}

#leave .back {
  color: #fff;
  display: block;
  margin-left: 96px;
}

#leave-done {
  width: 700px;
  border: solid 2px #DDD;
  margin-top: 100px;
  padding: 20px 0 30px;
}

#leave-done .done-text{
  margin: 0;
  margin-top: 8px;
  margin-left: 4px;
  color: #fff;
  text-align: center;
}

#leave-done .back {
  color: #fff;
  display: block;
  margin-top: 20px;
  margin-left: 4px;
  text-align: center;
}