@charset "UTF-8";

body{
  background: #333;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

a {
  color: #fff;
}

p {
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

#book-modify, 
#book-delete{
  width: 700px;
  margin: 0 auto;
  margin-top: 80px;
}

#book-modify .field-flex,
#book-delete .field-flex {
  display: flex;
  margin: 0;
  background-color: #555;
  color: #fff;
  border-top: solid 1px #fff; 
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff; 
}

#book-modify .field-flex li,
#book-delete .field-flex li{
  width: 100%;
  height: 30px;
  border-left: solid 1px #fff;
  line-height: 30px;
  text-align: center;
}

#book-modify .info-flex,
#book-delete .info-flex{
  display: flex;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff; 
}

#book-modify .info-flex li,
#book-delete .info-flex li {
  width: 100%;
  height: 60px;
  border-left: solid 1px #fff;
  line-height: 60px;
  text-align: center;
}

#book-modify .field-flex .date,
#book-modify .info-flex .date ,
#book-modify .field-flex .price,
#book-modify .info-flex .price,
#book-modify .field-flex .subtotal,
#book-modify .info-flex .subtotal,
#book-delete .field-flex .date,
#book-delete .info-flex .date ,
#book-delete .field-flex .price,
#book-delete .info-flex .price,
#book-delete .field-flex .subtotal,
#book-delete .info-flex .subtotal {
width: 35%;
}

#book-modify .field-flex .room,
#book-modify .info-flex .room,
#book-delete .field-flex .room,
#book-delete .info-flex .room {
width: 25%;
}

#book-modify .note,
#book-delete .note {
  text-align: center;
  margin: 0;
  margin-top: 20px;
}

#book-modify .submit,
#book-delete .submit {
  background-color: #fff;
  border: 2px solid #DDD;
  font-size: 0.9rem;
  display: block;
  margin: 0 auto;
  margin-top: 12px;
}

#book-modify-done,
#book-delete-done {
  width: 700px;
  /* height: 500px; */
  border: solid 2px #DDD;
  margin-top: 100px;
  padding: 20px 0 30px;
}

#book-modify-done .done-text,
#book-delete-done .done-text{
  margin: 0;
  margin-top: 8px;
  margin-left: 4px;
  color: #fff;
  text-align: center;
}

#book-modify-done .back,
#book-delete-done .back {
  color: #fff;
  display: block;
  margin-top: 20px;
  margin-left: 4px;
  text-align: center;
}
