@charset "UTF-8";

body{
  margin: 0;
  /* background-color: #ddd; */
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

th {
  background-color: #ccc;
}

.searchform{
  text-align: center;
  margin-bottom: 20px;
}
.searchform p {
  margin: 0;
  margin-top: 8px;
}

.searchform .bar{
  padding: 0 12px;
}

.searchform .button{
  border: none;
  border: 1px solid #DDD;
  /* height: 24px; */
  background: #fff;
  margin: 0 auto;
  margin-left: 12px;
}

/* .wbox {
  background-color: #ccc;
} */

.type {
  background-color: #ccc;
}

.title-area {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 40px;
  margin: 0;
  background-color: #ccc;
  border-top: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-left: solid 1px #ddd;
}

.title-area a {
  font-size: 18px;
  text-decoration: none;
  display: block;
  line-height: 40px;
}

.title-area a:hover {
  opacity: 0.7;
}

.type {
  /* font-size: 1rem; */
  width: 30px;
  height: 80px;
  position: relative;
}

.type-text{
  writing-mode: vertical-lr;
  display: block;
  position: absolute;
  right: 10%;
  letter-spacing: 0.1em;
}

.price,
.rest {
  height: 84px;
  width: 160px;
  background-color: #eee;
}

.price-text,
.rest-text,
.set-text,
.no-set,
.set-bar,
.none,
.rest-text{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.toggle {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.submit{
  background-color: #fff;
  border: 2px solid #ddd;
  font-size: 1.5rem;
  display: block;
  height: 35px;
  width: 60px;
  line-height: 25px;
  margin: 0 auto;
  margin-top: 20px;
}

#insert-check,
#update-check {
  width: 700px;
  margin-top: 100px;
  border: solid 1px #ddd;
  text-align: center;
  padding: 20px 0;
}

#invalid {
  width: 700px;
  margin-top: 100px;
  border: solid 1px #ddd;
  text-align: center;
  padding: 20px 0;
}