@charset "UTF-8";

/* body{
  margin: 0;
} */

/* .wrapper {
  max-width: 1100px;
  margin: 0 auto;
} */

#modify{
  width: 900px;
  margin-top: 80px;
}

#modify .field-flex,
#modify .info-flex {
  display: flex;
  margin: 0;
  border-left: solid 1px #DDD;
  border-bottom: solid 1px #DDD; 
  font-size: 0.9rem;
}

#modify .field-flex {
  font-weight: bold;
  border-top: solid 1px #DDD; 
}

#modify .field-flex li,
#modify .info-flex li{
  width: 100%;
  text-align: center;
  border-right: solid 1px #DDD;
}

#modify .field-flex li{
  height: 30px;
  line-height: 30px;
  background-color: #eee;
}

#modify .info-flex li{
  height: 60px;
  line-height: 60px;
}

#modify .field-flex .room,
#modify .field-flex .night,
#modify .info-flex .room,
#modify .info-flex .night {
  width: 30%;
}

#modify .field-flex .price,
#modify .info-flex .price{
  width: 40%;
}

#modify .field-flex .random,
#modify .info-flex .random,
#modify .field-flex .date,
#modify .info-flex .date {
  width: 50%;
}

#modify .field-flex .tel,
#modify .info-flex .tel {
  width: 70%;
}

#modify .field-flex .mail,
#modify .info-flex .mail {
  width: 120%;
}

#modify .note {
  text-align: center;
}

#modify .submit{
  border: none;
  border: 2px solid #DDD;
  background: #fff;
  font-size: 0.9rem;
  display: block;
  margin:0 auto;
}

#modify-check {
  width: 700px;
  margin-top: 100px;
  border: solid 1px #ddd;
  text-align: center;
  padding: 20px 0;
}

#modify-done {
  width: 800px;
  border: solid 1px #DDD;
  text-align: center;
  margin-top: 100px;
  padding: 20px 0 30px;
}

#delete{
  width: 900px;
  margin-top: 80px;
}

#delete .field-flex,
#delete .info-flex {
  display: flex;
  margin: 0;
  border-left: solid 1px #DDD;
  border-bottom: solid 1px #DDD; 
  font-size: 0.9rem;
}

#delete .field-flex {
  font-weight: bold;
  border-top: solid 1px #DDD; 
}

#delete .field-flex li,
#delete .info-flex li{
  width: 100%;
  text-align: center;
  border-right: solid 1px #DDD;
}

#delete .field-flex li{
  height: 30px;
  line-height: 30px;
  background-color: #eee;
}

#delete .info-flex li{
  height: 60px;
  line-height: 60px;
}

#delete .field-flex .room,
#delete .field-flex .night,
#delete .info-flex .room,
#delete .info-flex .night {
  width: 30%;
}

#delete .field-flex .price,
#delete .info-flex .price{
  width: 40%;
}

#delete .field-flex .random,
#delete .info-flex .random,
#delete .field-flex .date,
#delete .info-flex .date {
  width: 50%;
}

#delete .field-flex .tel,
#delete .info-flex .tel {
  width: 70%;
}

#delete .field-flex .mail,
#delete .info-flex .mail {
  width: 120%;
}

#delete .note {
  text-align: center;
}

#delete .submit{
  border: none;
  border: 2px solid #DDD;
  background: #fff;
  font-size: 0.9rem;
  display: block;
  margin:0 auto;
}

#delete-done {
  width: 800px;
  border: solid 1px #DDD;
  text-align: center;
  margin-top: 100px;
  padding: 20px 0 30px;
}
